body {
    padding: 50px 0 0 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {

}
/*Header section*/
header {
    height: 50px;
    width: 100%;
    background-color: #a9a9a9;
    position: absolute;
    top: 0;
}
.navLogo {
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.topMenu {
}
/*End header section*/
/*Body*/
/*end body*/
/*footer*/
footer {
    position: fixed;
    bottom: 0;
}
/*end footer*/